html{
    min-height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p {
      margin-bottom: 0px;
      font-size: 14px;
      color: #666666;
      line-height: 30px;
  }
  a {
      text-decoration: none!important;
  }

  h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
.sub-header {
	background-color: #a4c639;
	height: 46px;
	line-height: 46px;
}

.sub-header ul li {
	display: inline-block;
}

.sub-header ul.left-info li {
	border-left: 1px solid rgba(250,250,250,0.3);
	padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li i {
	margin-right: 10px;
	font-size: 18px;
}

.sub-header ul.left-info li a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.sub-header ul.right-icons {
	float: right;
}

.sub-header ul.right-icons li {
	margin-right: -4px;
	width: 46px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li:first-child {
	border-left: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li a {
	color: #fff;
	transition: all 0.3s;
}

.sub-header ul.right-icons li a:hover {
	opacity: 0.75;
}


.section-heading {
	text-align: center;
	margin-bottom: 80px;
}

.section-heading h2 {
	font-size: 36px;
	font-weight: 600;
	color: #1e1e1e;
}

.section-heading em {
	font-style: normal;
	color: #a4c639;
}

.section-heading span {
	display: block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
}

.services .service-item img{
    float: left;width:100%;height:200px;object-fit: cover;
}

.nav-item{
    margin-left:20px;

}
.btn{
    border-radius: 0%;
}

.jumbotron{
    background-color: transparent;
}

.filter-result .job-box {
    -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
            box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    border-radius: 10px;
    padding: 10px 35px;
  }

  ul {
    list-style: none;
  }

.list-disk li {
    list-style: none;
    margin-bottom: 12px;
  }

  .list-disk li:last-child {
    margin-bottom: 0;
  }

  .job-box .img-holder {
    height: 65px;
    width: 65px;
    background-color: #4e63d7;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
    background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 65px;
  }

  .career-title {
    background-color: #4e63d7;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
    background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  }

  .job-overview {
    -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
            box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    border-radius: 10px;
  }

  @media (min-width: 992px) {
    .job-overview {
      position: -webkit-sticky;
      position: sticky;
      top: 70px;
    }
  }

  .job-overview .job-detail ul {
    margin-bottom: 28px;
  }

  .job-overview .job-detail ul li {
    opacity: 0.75;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .job-overview .job-detail ul li i {
    font-size: 20px;
    position: relative;
    top: 1px;
  }

  .job-overview .overview-bottom,
  .job-overview .overview-top {
    padding: 35px;
  }

  .job-content ul li {
    font-weight: 600;
    opacity: 0.75;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
  }

  .job-content ul li i {
    font-size: 20px;
    position: relative;
    top: 1px;
  }
  .mb-30 {
      margin-bottom: 30px;
  }


/* Responsive Style */
@media (min-width: 992px) {
    .job-overview {
      position: -webkit-sticky;
      position: sticky;
      top: 70px;
    }
  }


@media (max-width: 768px) {
	.sub-header {
		display: none;
	}

    .nav-item .btn {
        width: 50%;
        margin-top: 10px;
    }

    .job-content ul li {
        border-bottom: 0;
        padding: 0;
      }
}
